@import '../../styles/variables.scss';
@import '../../styles/unit.scss';

.curve {
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        max-width: 100%;
        overflow: hidden;
    }

    &__image {
        height: em(700px);
    }
}

.text {
    &__small {
        @media screen and (min-width: em(200px)) and (max-width: em(575px)) {
            font-size: $f-25;
        }
    }
    &__white{
        color: #FFF;
    }
}

.hero_illustration {
    &__position {
        margin-top: 5rem;
        @media screen and (min-width: em(200px)) and (max-width: em(575px)) {
            position: absolute;
            top: em(-209px);
            right: em(-86px);
            max-width: 65%;
            margin-top: 0;
            opacity: 0.5;
        }
    }
}