@import "../../styles/variables.scss";
@import "../../styles/unit.scss";

//Income table component
.income {
    &__container {
        &:first-of-type {
            margin-bottom: em(40px);
        }
    }

    &__caption {
        font-size: $f-16;
        margin-bottom: em(20px);

        &:after {
            display: block;
            content: "";
            border-bottom: em(5px) solid $beige;
            width: 10%;
            padding: 0 0 em(5px) 0;
        }
    }

    &__amount {
        border-bottom: em(1px) dotted $grey__dark;
        width: rem(200px);
        text-align: right;
    }

}
.income__highlight {
    font-size: $f-22;
    font-weight: 600;
    margin-top: em(35px);
}