@import "../../styles/variables.scss";
@import "../../styles/unit.scss";

:export {
  white: $white;
  blue: $blue;
  teal: $teal;
  beige: $beige;
  grey__dark: $grey__dark;
}

div.aria_widget_slider {
  padding: 0 em(20px);

  .rail {
    /* width: 300px; */
    margin: em(2px);
    padding: em(4px);
    border-radius: 10px;
    background-color: #ebebeb;
    position: inherit;
    top: 2em;
    height: em(4px);

    .thumb {
      border-radius: 50%;
      background-color: $blue;
      position: relative;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 63%);

      &:focus {
        outline: 0;
        box-shadow: 0px 0px 6px 9px #6d62f942;
      }

      &.focus,
      &:hover {
        cursor: pointer;
        background-color: $blue;
      }
    }

    &.focus {
      background-color: #aaa;
      outline: 0;
    }
  }

  .value {
    width: 2em;
    text-align: right;
    position: absolute;
  }
}

.label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
