@import "../../styles/variables.scss";
@import "../../styles/unit.scss";
@import "../../styles/flexbox.scss";

.page_footer {
  background-color: $beige;
  margin-top: em(120px);
  padding: em(100px) 0;
}

.social_media {
  list-style: none;
  @include flexbox();
  @include flex-direction(row);
  padding: 0;

  li {
    margin-right: em(20px);
  }
}
