@import "../../styles/variables.scss";
@import "../../styles/unit.scss";
@import "../../styles/flexbox.scss";

.gotax_dropdown {
    border: none;
    border-radius: em(100px);
    overflow-wrap: initial;
    width: 100%;
    height: em(48px);
    padding: 0 em(42px) 0 em(16px);
    font-size: rem(16px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    //background-color: $grey__medium;
    border: rem(1px) solid $grey__disabled;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    //box-shadow: 1px 2px 4px -1px $grey__dark;
    background-image: url(../../public/dropdown-arrow.png);

    option {        
        color: $grey__dark;
        margin: em(40px);
        background: $grey__light;
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px em(2px) em(1px);

        &:disabled {
            color: $grey__disabled;
        }
    }

    &:focus {
        border: rem(1px) solid $blue;
    }
}

.input_range_group {
    margin-bottom: em(20px);

    .customInput_group {
        padding-right: em(20px);
    }

    .customInput {
        border: none;
        border-radius: em(100px) !important;
        font-size: $f-16;
        font-weight: 500;
        background-color: $grey__light;

        &:focus {
            outline: 0;
            border: rem(1px) solid $blue;
        }
    }
}

//CardUp component
.card_up {
    background-color: $white;
    padding: em(48px);
    border-radius: em(20px);
    margin: 0;
    box-shadow: 0px 2px 26px 4px rgba(0, 0, 0, 0.2);
    margin-top: em(20px);
    &__color {
        &__beige {
            border-top: solid em(20px) $beige;
        }
        &__teal {
            border-top: solid em(20px) $teal;
        }
    }
    @media screen and (max-width: em(767px)) {
        padding: em(24px);        
    }
    .salary_container {
        @include flexbox();
        @include flex-direction(column);
        .salary_line {
            @include flexbox();
            justify-content: space-between;
        }
        .highlight {
            color: $blue;
            font-weight: bold;
            font-size: $f-17;
        }
    }
}

.button__primary {
    background-color: $blue;
    border-radius: em(28px);
    color: $white;
    padding: 0.5em 2em;
    border: none;
    font-weight: 600;
    margin: 1.5em 0 0.5em 0;
}