@import 'variables.scss';

.customInput {
    font-size: 24px;
    font-weight: 400;
}

//CardUp component 
.card-up{
    background-color: $white;
    padding: 3em 2em 2em 2em;
    border-radius: 20px;
    margin: 0;
    box-shadow: 0px 2px 26px 4px rgba(0, 0, 0, 0.2);
    &__color{
        &--beige{
            border-top: solid 20px $beige;
        }
        &--teal {
            border-top: solid 20px $teal;
        }
    }
}
.heading__h2{
    font-size: 22px !important;
}

.button__primary{
    background-color: $blue;
    border-radius: 28px;
    color: $white;
    padding: .5em 2em;
    border: none;
    font-weight: 600;
    margin: 1.5em 0 0.5em 0;
}

//Income table component 
.income{
&__container{
&:first-of-type{
    margin-bottom: 40px;
}
}
&__caption{
    font-size: 1em;
    margin-bottom: 20px;
    &:after{
        display: block;
        content: "";
        border-bottom: 5px solid $beige;
        width: 10%;
        padding: 0 0 5px 0;
    }
}
&__amount{
    border-bottom: 1px dotted $grey--dark;
    width: 250px;
    text-align: center;
}
}

