@import "variables.scss";

//Income table component
.income {
    &__container {
        &:first-of-type {
            margin-bottom: 40px;
        }
    }

    &__caption {
        font-size: 1em;
        margin-bottom: 20px;

        &:after {
            display: block;
            content: "";
            border-bottom: 5px solid $beige;
            width: 10%;
            padding: 0 0 5px 0;
        }
    }

    &__amount {
        border-bottom: 1px dotted $grey__dark;
        width: 250px;
        text-align: center;
    }
}