$theme-color: #28a745;

html {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}
footer {
	margin-top: 20px;
	padding: 20px;
}
h1 {
	margin-top: 10px;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
.no-bg {
	background: none !important;
}
.mar-right-5 {
	margin-right: 5px;
}
form {
	.material-icons {
		font-size: 23px;
		color: $theme-color;
	}
}
.green {
	background-color: $theme-color;
	border-color: $theme-color;
	color: white;
}
.form-control {
	&:focus {
		border-color: $theme-color;
		box-shadow: none;
	}
}
