.link{
    color: $grey--dark;
    position: relative;
     font-weight: 600;
     transition: 0.2s;
    &::after{
    content: "";
    background: #212529;
    width: 100%;
    height: em(1px);
    position: absolute;
    left: 0;
    bottom: em(-3px);
    }
    &:hover:after{
        border-bottom: em(1px) dotted $blue;
        background-color: transparent;
        transition: width .3s ease,background-color .3s ease;
    }
    &:hover{
        text-decoration: none;
    }
}