@import 'unit.scss';

//Colours
$theme-color: #28a745;
$white: #fff;
$blue: #6d62f9;
$teal: #46b7c5;
$beige: #f9d2b6;
$grey__light: #f6f6f9;
$grey__medium: #e3e3ec;
$grey__dark: #212529;
$grey__disabled: #838383;
$gold__warning__light: #d5a30d73;
$gold__warning: #d5a30d;

//Fonts
$f-12: rem(12px);
$f-13: rem(13px);
$f-14: rem(14px);
$f-15: rem(15px);
$f-16: rem(16px);
$f-17: rem(17px);
$f-18: rem(18px);
$f-19: rem(19px);
$f-20: rem(20px);
$f-21: rem(21px);
$f-22: rem(22px);
$f-23: rem(23px);
$f-24: rem(24px);
$f-25: rem(25px);
$f-26: rem(26px);
$f-27: rem(27px);
$f-28: rem(28px);
$f-29: rem(29px);
$f-30: rem(30px);
$f-31: rem(31px);
$f-32: rem(32px);
$f-33: rem(33px);
$f-34: rem(34px);
$f-35: rem(35px);
$f-36: rem(36px);